*{
  margin: 0;
  padding: 0;
}


table {
  border: 9px solid white;
  border-collapse: collapse;
  height: 542px;
  width: 501px;
  margin: 50px auto;
}

#picture {
  width: 501px;
  height: 542px;
  border: 1px solid black;
  margin: 50px auto;
}

td {
  border: 8px solid black;
}

.white {
  background-color: white;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.black {
  background-color: black;
}
